.sidebarOptions{
    display:flex;
    flex-direction: column;
}
.sidebarOption{
    display:flex;
    align-items:center;
    padding:10px;
    cursor: pointer;
}
.sidebarOption:hover{
    background-color: rgb(155, 187, 187);
    border-radius: 5px;
}
.sidebarOption >img{
    height:30px;
    width:30px;
    margin-left:20px;
    border-radius: 5px;
}
.sidebarOption >p{
    color:rgb(107, 106, 106);
    font-weight:400;
    margin-left:10px;
}
.sidebarOption >.MuiSvgIcon-root{
    color:gray;
    font-size: medium;
    margin-left: 20px;
}